<div class="card mx-auto">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <form [formGroup]="registerform" (ngSubmit)=register()>
            <div class="form-group" >
                <label for="user_name">User Name</label>
                <input type="text" formControlName="user_name" class="form-control" [(ngModel)]="admin.user_name" [ngClass]="{'is-invalid': (submitted || registerform.get('user_name')!.touched || registerform.get('user_name')!.dirty)  && registerform.get('user_name')!.errors}" />  
                <div  *ngIf ="(submitted || registerform.get('user_name')!.touched || registerform.get('user_name')!.dirty)  && (registerform.get('user_name')!.errors)" class="invalid-feedback" >
                    <div *ngIf=" registerform.get('user_name')!.errors!.required">User Name is required</div>
                </div>
            
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" formControlName="email" class="form-control" [(ngModel)]="admin.email" [ngClass]="{'is-invalid': (submitted || registerform.get('email')!.touched || registerform.get('email')!.dirty)  && registerform.get('email')!.errors}" />  
                <div  *ngIf ="(submitted || registerform.get('email')!.touched || registerform.get('email')!.dirty)  && (registerform.get('email')!.errors)" class="invalid-feedback" >
                    <div *ngIf=" registerform.get('email')!.errors!.required">Email is required</div>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" [(ngModel)]="admin.password" [ngClass]="{'is-invalid': (submitted || registerform.get('password')!.touched || registerform.get('password')!.dirty)  && registerform.get('password')!.errors}" />  
                <div  *ngIf ="(submitted || registerform.get('password')!.touched || registerform.get('password')!.dirty)  && (registerform.get('password')!.errors)" class="invalid-feedback" >
                    <div *ngIf=" registerform.get('password')!.errors!.required">Password is required</div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type ="submit">
                    Register
                </button>
        </div>
        </form>
    </div>
</div>






