<nav class="navbar navbar-expand-md bg-dp4 sticky-top text-white">
    <div class="container-fluid ">
      <a class="navbar-brand" href=""></a>
  
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a [routerLink]="'/events'" routerLinkActive="active" class="nav-link">View Events</a>
          </li>
  
          <li class="nav-item">
            <a [routerLink]="'/venues'" routerLinkActive="active" class="nav-link">View Venues</a>
          </li>
         
          
        </ul>
      </div>
    </div>
  </nav>

