<app-admin-navbar></app-admin-navbar>
<div class="col-md-12">  <br>
    <div class="table-responsive table-container">  
      <table class="table">  
        <thead>  
          <tr>  
            <th>Booking Id</th>  
            <th>User Name</th>  
            <th>Date</th>
            <th>No of Tickets</th>
            <th>Total Price </th>
          </tr>  
        </thead>  
        <tbody>  
          <tr *ngFor="let ticket of bookingList"> 
            <td >{{ticket.booking_id}}</td> 
            <td  >{{ticket.username}}</td> 
            <td>{{ticket.booking_date | date}}</td> 
            <td>{{ticket.no_of_tickets}}</td>
            <td>{{onClick(ticket) | currency: "INR"}}</td>
         
          </tr>  
        </tbody>  
      </table>
      
    </div>  
  </div>

