
<div class="card mx-auto">
    <div class="card-body">
        <form [formGroup]="addform" >
            <div class="form-group">
                <label for="venueName">Venue Name</label>
                <input type="text" formControlName="venueName" class="form-control" [(ngModel)]="Venues.venue_name" [ngClass]="{'is-invalid': (submitted || addform.get('venueName')!.touched ||
                    addform.get('venueName')!.dirty) && addform.get('venueName')!.errors}" >  
                <div  *ngIf ="(submitted || (addform.get('venueName')!.touched )||  
                    addform.get('venueName')!.dirty) && addform.get('venueName')!.errors" class="invalid-feedback">
                    <div *ngIf="addform.get('venueName')!.errors!.required">Venue Name is required</div>
                </div>
            </div>
  
            <div class="form-group">
                <label for="seatingCapacity">Seating Capacity</label>
                <input type="number" formControlName="seatingCapacity" class="form-control" [(ngModel)]="Venues.total_seats" [ngClass]="{'is-invalid': (submitted || addform.get('seatingCapacity')!.touched ||
                    addform.get('seatingCapacity')!.dirty) && addform.get('seatingCapacity')!.errors}" >
                <div  *ngIf ="(submitted || addform.get('seatingCapacity')!.touched ||
                    addform.get('seatingCapacity')!.dirty) && addform.get('seatingCapacity')!.errors" class="invalid-feedback">
                    <div *ngIf="addform.get('seatingCapacity')!.errors!.required" >Seating Capacity is required</div>
                </div>  
            </div>
            
  
            <div class="form-group">
              <label for="ticketPrice"> Price per Seat</label>
              <input type="number" formControlName="ticketPrice" class="form-control" [(ngModel)]="Venues.ticket_rate" [ngClass]="{'is-invalid': (submitted || addform.get('ticketPrice')!.touched ||
                  addform.get('ticketPrice')!.dirty) && addform.get('ticketPrice')!.errors}" >
              <div  *ngIf ="(submitted || addform.get('ticketPrice')!.touched ||
                  addform.get('ticketPrice')!.dirty) && addform.get('ticketPrice')!.errors" class="invalid-feedback">
                  <div *ngIf="addform.get('ticketPrice')!.errors!.required" >Price is required</div>
              </div>  
            </div>

            <div class="form-group">
                <button (click)="addVenue()" *ngIf="Venues.venue_id==0" class="btn btn-primary">
                    Add
                </button>
                
                <button (click)="updateVenue()" *ngIf="Venues.venue_id!=0" class="btn btn-primary">
                    Update
                </button>
               
                  
            </div>
        </form>
    </div>
</div>           
