<nav class="navbar navbar-expand-md navbar-light bg-light bg-dp4 sticky-top text-white">
    <div class="container-fluid">
      <a class="navbar-brand" href=""><img src="assets/logo1.png" /></a>
  
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a routerLink="" routerLinkActive="active" class="nav-link">Homepage</a>
          </li>
  
          <li class="nav-item">
            <a routerLink="#" routerLinkActive="active" class="nav-link">View Events</a>
          </li>
         
          <li class="nav-item">
            <button
              type="button"
              class="btn btn-outline-info"
              data-target="#signIn"
              data-toggle="sign-in"
            >
              Sign In
            </button>
          </li>
          <li class="nav-item">
            <button
              type="button"
              class="btn btn-outline-info"
              data-target="#exampleModalCentered"
              data-toggle="modal"
            >
              Sign up
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
 
  
