<!-- 
<div class="card" style="width: 18rem;">
    <div *ngFor="let event of eventlist">
        <img class="card-img-top" src="{{event.image}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"> {{event.event_name}}</h5>
            <p class="card-text">Event Venue : {{event.venue_name}}</p>
            <p class="card-text">Artist Name : {{event.artist_name}}</p>
            <p class="card-text">Date : {{event.event_date | date}}</p>
            <p class="card-text">Time : {{event.event_time | date:'shortTime'}}</p>
            <a [routerLink]="['/booking/',event.ticket_rate]" class="card-link" *ngIf="event.approval_status == 'approved'">ticket sale</a>
        </div>
        <div>
            <p class="card-text">{{event.description}}</p>
        </div>
        <div>
            <button type="button" class="btn btn-primary" *ngIf ="event.approval_status == 'unchecked'"
                  (click)="approve(event)" >Approve</button>
            <button type="button" class="btn btn-danger" *ngIf ="event.approval_status == 'unchecked'" 
                  (click)="reject(event)" >Reject</button>
        </div>
    </div>
</div>


 -->
 <div *ngFor="let event of eventlist">
    <div class="event-detail mt-5">
      <div class="container-fluid mt-5">
        <div class="row">
          <div class="col-3">
            <div class="row"><div class="col-12">
              <div class="card shadow">
                <div class="card-header text-white bg-dark">Artist</div>
                <div class="card-body">
                  <div class="container">
                    <div class="row">
                      <div class="col-4">
                        <img
                          src="assets/artist.png"
                          class="rounded-circle shadow"
                          alt=""
                        />
                      </div>
                      <div class="col-8 mt-4">
                        <h4 class="card-title text-center">
                          {{ event.artist_name }}
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>  
            
              <div class="mt-4 col-12">
                <div class="card shadow">
                  <div class="card-header text-white bg-dark">Share This</div>
                  <div class="card-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-3">
                          <a href=""
                            ><i
                              class="fa fa-facebook-official fa-2x"
                              aria-hidden="true"
                            ></i
                          ></a>
                        </div>
                        <div class="col-3">
                          <a href=""
                            ><i
                              class="fa fa-instagram fa-2x"
                              aria-hidden="true"
                            ></i
                          ></a>
                        </div>
                        <div class="col-3">
                          <a href=""
                            ><i class="fa fa-twitter fa-2x" aria-hidden="true"></i
                          ></a>
                        </div>
                        <div class="col-3">
                          <a href=""
                            ><i class="fa fa-twitch fa-2x" aria-hidden="true"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          </div>
          <div class="col-6 align-self-center">
            <div class="card shadow">
              <div class="card-body">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                 
                    </div>
                    <div class="col-11">
                      
                      <hr />
                      <p class="font-weight-bold">ABOUT:</p>
                      <p class="lead">{{ event.description }}</p>
                      <hr />
                      <div class="container">
                        <div class="row">
                          <div class="col-6">
                            <p class="font-weight-bold">Venue:</p>
                            <p class="lead">{{ event.venue_name }}</p>
                            <p class="lead">
                              <strong>Date:</strong
                              >{{ event.event_date | date: "d/M/yy" }}
                            </p>
                            <p class="lead">
                              <strong>Time:</strong
                              >{{ event.event_date | date: " h:mm a" }}
                            </p>
                            <hr />
                          </div>
                          <div class="mt-5 col-6">
                            <p class="lead">
                              Cost:{{ event.ticket_rate | currency: "INR" }}
                            </p>
                            <!-- <p class="lead">
                              Seats:{{ event.available_seats
                              }}<i class="fa fa-ticket" aria-hidden="true"></i>
                            </p> -->
                            <!-- <button class="btn btn-outline-success btn-lg">Buy</button> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3" *ngIf="event.approval_status == 'approve' || event.approval_status == 'unchecked'" >
            <div class="card shadow">
              <div class="card-body">
                <div class="container">
                  <div class="row justify-content-around">
                    <div class="mt-3 col-12">
                      <div class="alert alert-info text-center shadow" role="alert">
                       <strong *ngIf ="event.approval_status == 'unchecked'"> Approve or reject?</strong>
                       <a [routerLink]="['/booking/',event.ticket_rate]" class="card-link" *ngIf="event.approval_status == 'approve'">ticket sale</a>
                      </div>
                    </div>          
          
                    <div class="mr-5 mt-3 col-4">

                        <button class="btn btn-success btn-lg shadow" *ngIf ="event.approval_status == 'unchecked'"
                        (click)="approve(event)" >Approve</button>
                     
                    </div>
                    <div class="    mr-2 mt-3 col-4">
                      <button class="btn btn-danger btn-lg shadow" *ngIf ="event.approval_status == 'unchecked'" 
                      (click)="reject(event)">Reject</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>

  