
<div class="card" style="width: 18rem;">
    <div *ngFor="let event of eventlist">
        <img class="card-img-top" src="{{event.image}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"> {{event.event_name}}</h5>
            <p class="card-text">Event Venue : {{event.venue_name}}</p>
            <p class="card-text">Artist Name : {{event.artist_name}}</p>
            <p class="card-text">Date : {{event.event_date | date}}</p>
            <p class="card-text">Time : {{event.event_time | date:'shortTime'}}</p>
            <a [routerLink]="['/booking/',event.ticket_rate]" class="card-link" *ngIf="event.approval_status == 'true'">ticket sale</a>
        </div>
        <div>
            <p class="card-text">{{event.description}}</p>
        </div>
        <div>
            <button type="button" class="btn btn-primary" *ngIf ="event.approval_status == 'false'"
                  (click)="approve(event)" >Approve</button>
            <button type="button" class="btn btn-danger" *ngIf ="event.approval_status == 'false'" 
                  (click)="reject(event)">Reject</button>
        </div>
    </div>
</div>



