<!--Search bar and filter events -->
<div class = "mid-container">
    <div>
      
    </div>

   
    
    <div class = "search">
      

      <div class = "srch">

    <div class = "searchtext">
    <input type="text" value="" placeholder="Find events here" >
  </div>
  
  </div>

  <!-- Filter part -->
  <div class = "flt">
    <div class = "filter">
      
      <div class = "select"> Filter events based on</div>
    <select >
        <option value="AllEvents">All Events</option>   
        <option value="Date">Date</option>
        <option value="Location">Venue</option>
      </select>

    </div>

  </div>
    <div class = "searchBtn">
        <button id="button2"  class = "searchbutton" value ="show"  ></button>
    </div>
  </div>


  
  </div>

  <!-- -------------- -->


