<div class="container">
    
    <h5>Artist can create an event Here</h5>

<div class="jumbotron">
    
    


    <form [formGroup]="createevent" (ngSubmit)="createevents()">
        
        

        <div class="form-group">
            <label class="control-label col-sm-2">Event Name</label>
            <div class="col-sm-4">
            <input type = "text" class="form-control" placeholder="Enter event name" formControlName="event_name">
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-2">Image url</label>
            <div class="col-sm-4">
            <input type = "text" class="form-control" placeholder="Enter imageurl" formControlName="image">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Event Date</label>
            <div class="col-sm-4">
            <input type = "Date" class="form-control" placeholder="Pick a Date" formControlName="event_date">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Event Time</label>
            <div class="col-sm-4">
            <input type = "Time" class="form-control" placeholder="pick a time" formControlName="event_time">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Venue Id</label>
            <div class="col-sm-4">
            <input type = "number" class="form-control" placeholder="Venue Id" formControlName="venue_id">
            
            <select>
                <option *ngFor="let venue of venues">{{venue.venue_id}}</option>
            </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Available Seats</label>
            <div class="col-sm-4">
            <input type = "number" class="form-control" placeholder="seats" formControlName="available_seats">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Artist Name</label>
            <div class="col-sm-4">
            <input type = "text" class="form-control" placeholder="Enter your Name" formControlName="artist_name">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Description</label>
            <div class="col-sm-4">
            <input type = "text" class="form-control" placeholder="provide your description about event" formControlName="description">
            </div>
        </div>

       









    <div class="col-sm-4">
     <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    </form>
</div>
  
</div>

