<div class="container">
    
    <h5>Artist can create an event Here</h5>

<div class="jumbotron">
    
    


    <form [formGroup]="newEvent" (ngSubmit)="createevents()">
        
        

        <div class="form-group">
            <label class="control-label col-sm-2">Event Name</label>
            <div class="col-sm-4">
            <input type = "text" class="form-control" placeholder="Enter event name" formControlName="event_name">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Event Date</label>
            <div class="col-sm-4">
            <input type = "date" class="form-control" placeholder="Pick a Date" formControlName="event_date" (input)="getVenues()">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Event Time</label>
            <div class="col-sm-4">
            <input type = "Time" class="form-control" placeholder="pick a time" formControlName="event_time">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Venue</label>
            <div class="col-sm-4">
            <select formControlName="venue_id" value="Select">
                <option *ngFor="let venue of venues">{{venue.venue_id}}. {{venue.venue_name}}</option>
            </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Artist Name</label>
            <div class="col-sm-4">
            <input type = "text" class="form-control" placeholder="Enter your Name" formControlName="artist_name">
            </div>
        </div>

        <div class="form-group pl-3">
            <label class="control-label col-sm-2 pl-0">Description</label>
            <input type = "textarea" class="form-control" placeholder="provide your description about event" formControlName="description">
        </div>


    <div class="col-sm-4 pt-2">
     <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    </form>
</div>
  
</div>

