<div class="card rounded-lg">
    <div class="card-header bg-dark text-white">
        {{Event.eventName | titlecase}}
      </div>
    
    <img class="card-img-top" src="assets\card-image.jpg" alt="Card image cap">
    <div class="card-body"> 
        <div class="container">
            <div class="row text-center">
                <div class="col-8 event-date">{{Event.eventDate| date:'d/M/yy, h:mm a' }}</div>
            </div>
        </div>
        <ul>
       
        
    </ul>
     </div>
  </div>

