.card{
    box-shadow: 0px 5px 5px  rgba(59, 59, 59, 0.164);
    border: rgba(255, 255, 255, 0);
    transition-duration: 500ms;
    
    border-radius: .7rem;
    

}
.card-header{
    border-radius: .7rem .7rem 0 0;
}
.black{
    background-color: black;
}
.card:hover{
    box-shadow: 5px 5px 5px   rgba(117, 117, 117, 0.24);
    cursor: pointer;
    transform:translate3d(-10px, -10px, 0);
    
}

.event-date{
    border:2px solid red;
    background: rgba(255, 255, 255, 0);
    color: red;
    transition-duration: 500ms;
}
.event-date:hover{
    border:1px solid rgba(255, 255, 255, 0);
    background: rgb(255, 0, 0);
    color: white;
   
    
}
// .card-body{
//     background:#202020  ;
// }
// .card-header{
//     background:#202020 ;
// }
.ticket-number{
    color:goldenrod ;
    
    text-shadow: 10px 10px 10px 10px red;
    background: rgba(255, 255, 255, 0);
}
.ticket-number:hover{
    color:gold;
    text-shadow: 10px 10px 10px 10px red;
    background: rgba(255, 255, 255, 0);
}

  .small{
    //   transform: scale(0.9,0.9);
    
      padding:0px 0px 0px 0px;
 }
 .small-body{
    padding:5px 5px 5px 5px;
 }
 .image{
     position: relative;
     
 }
 .img-img{
     display: block;
     width: 100%;
 }
 .img-overlay-appr{
     position:absolute;
     top: 0;
     bottom: 0;
     width: 100%;
     height: 100%;
     background: rgba(0,0,0,0.6);
     color: #ffffff;
     font-family:'Courier New', Courier, monospace;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     opacity: 0;
     transition: opacity 0.3s;
 }
 .img-overlay-appr>*{
     transform: translateY(20px);
     transition: transform 0.3s;
 }
 .img-overlay-appr:hover>*{
     transform: translateY(0);
 }
 .img-overlay-appr:hover{
     opacity: 1;
     background: green;
 }
 .img-overlay-rej{
    position:absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: #ffffff;
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}
.img-overlay-rej>*{
    transform: translateY(20px);
    transition: transform 0.3s;
}
.img-overlay-rej:hover>*{
    transform: translateY(0);
}
.img-overlay-rej:hover{
    opacity: 1;
    background: red;
}
.img-overlay-unchk{
    position:absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: #ffffff;
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}
.img-overlay-unchk>*{
    transform: translateY(20px);
    transition: transform 0.3s;
}
.img-overlay-unchk:hover>*{
    transform: translateY(0);
}
.img-overlay-unchk:hover{
    opacity: 1;
    background: grey;
}
 .img-title{
     font-size: 1em;
     font-weight: bold;

 }
